<div class="cards">
    <mat-card appearance="outlined">
        <mat-card-content>
            <mat-label class="number-card">{{accounts}}</mat-label>
            <br>
            <mat-label class="title-card">Cuentas</mat-label>
        </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
        <mat-card-content>
            <mat-label class="number-card">{{users}}</mat-label>
            <br>
            <mat-label class="title-card">Usuarios</mat-label>
        </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
        <mat-card-content>
            <mat-label class="number-card">{{monitored}}</mat-label>
            <br>
            <mat-label class="title-card">Monitoreados</mat-label>
        </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
        <mat-card-content>
            <mat-label class="number-card">{{devices}}</mat-label>
            <br>
            <mat-label class="title-card">Dispositos</mat-label>
        </mat-card-content>
    </mat-card>

</div>